.user{
    right: 2%;
    top: 0;
    color: #44733C;
  }
  .user-name{
    font-size: 10px;
    font-style: italic;
  }
  .user-image{
    background-color: aliceblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #44733C;
    cursor: pointer;
  }