<div class="nav-items text-center pt-4">
    <div class="items">
        <div class="nav-item ">
            <span class=""><i class="fa fa-bars" aria-hidden="true"></i> Overview</span>
        </div>
        <div class="nav-item">
            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i> Job Matches</span>
        </div>
        <div class="nav-item">
            <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Applications</span>
        </div>
        <div class="nav-item">
            <span><i class="fa fa-android" aria-hidden="true"></i> Auto-Apply</span>
        </div>
        <div class="nav-item">
            <span><i class="fa fa-user" aria-hidden="true"></i> Profile page</span>
        </div>
    </div>

    <div class="butns mt-4">
        <a href="" class="logout-btn p-2"><span class="f-awesome"><i class="fa fa-sign-out p-1" aria-hidden="true"></i></span>logout</a>
    </div>

</div>