<div class="container-fluid">

    <div class="row d-flex align-items-center justify-content-center" style="background-color: #44733C; height: 100vh;">

        <div class="col-md-4 col-lg-4 col-xl-4 d-flex align-items-center justify-content-center w-50">
            <img class="image img-fluid" style="max-width: 100%;"
                src="https://cdni.iconscout.com/illustration/premium/thumb/user-account-sign-up-4489360-3723267.png"
                alt="AutoJobServe">
        </div>


        <div class="col-md-6 col-lg-5 col-xl-5 d-flex align-items-center justify-content-center flex-column">

            <h2 class="text-light">Good to see you again!</h2>

            <div class="login-form-container d-flex align-items-center justify-content-center flex-column bg-light col-12 rounded-3 shadow mt-3">

                <div class="input-fields col-12 d-flex flex-column align-items-center justify-content-center w-100">
                    <input type="text" name="Username" placeholder="Username" id="input" class="form-control mb-2 w-75"
                        style="color: #44733C;">
                    <input type="password" name="Password" placeholder="Password" id="input"
                        class="form-control my-2 mb-3 w-75" style="color: #44733C;">
                </div>

                <button type="submit" class="btn btn-success w-75">Sign In</button>

                <div class="other-links">
                    <a class="mx-3 link-success text-decoration-none fs-6" routerLink="/signUp">Don't have an
                        account</a>
                    <a class="mx-3 link-success text-decoration-none fs-6" routerLink="/email">Forgot Password?</a>
                </div>
            </div>

        </div>


    </div>





</div>