.header{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #44733C;
    border-bottom: 1px solid white;
}
.link{
    text-decoration: none;
    color: white;
}
.user{
    display: flex;
}
.user-name{
    font-size: smaller;
}
.user-image{
    background-color: aliceblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #44733C;
    cursor: pointer;
}