<div class="container-fluid row d-flex align-items-center justify-content-center" style="background-color: #44733C; height: 100vh;">

    <div class="row d-flex align-items-center justify-content-center  py-sm-4">

        <div class="col-sm-5 order-2 d-flex flex-column align-items-center justify-content-center">

            <form action="">
                <h1 class="text-center text-light mb-3">Sign up</h1>

                <div class="d-flex flex-row align-items-center justify-content-center mb-3 mt-2">

                    <div class="form-outline d-flex">
                        <input type="text" id="form3Example1c" placeholder="First Name" class="form-control me-2" />
                        <input type="text" id="form3Example1c" placeholder="Last Name" class="form-control" />
                    </div>

                </div>

                <div class="d-flex align-items-center mb-3">

                    <div class="form-outline flex-fill w-100">
                        <input type="email" id="form3Example3c" placeholder="Email" class="form-control" />
                    </div>
                </div>

                <div class="d-flex align-items-center mb-3">

                    <div class="form-outline flex-fill d-flex">
                        <input type="username" id="form3Example4c" placeholder="Username" class="form-control me-2" />
                        <input type="text" id="form3Example4c" placeholder="Job Title" class="form-control" />

                    </div>
                </div>

                <div class="d-flex align-items-center mb-3">

                    <div class="form-outline flex-fill d-flex">
                        <input type="password" id="form3Example4cd" placeholder="Password" class="form-control me-2" />
                        <input type="password" id="form3Example4cd" placeholder="Confirm Password"
                            class="form-control" />
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-3">

                    <div class="form-outline flex-fill">
                        <input type="text" id="form3Example4cd" placeholder="Enter your location"
                            class="form-control" />
                    </div>
                </div>



                <div class="d-flex flex-fill justify-content-center align-items-center mx-4 mb-2 mb-lg-4 flex-column">
                    <button type="button" class="btn btn-dark mx-2 border-white w-50">Register</button>
                    <p class="mx-2 mt-4 text-light " style="font-size: small;">Already have an AutoJobServe
                        account? <a class="text-decoration-none text-light text-center" routerLink="/logIn"> <button
                                class="btn btn-light btn-sm">LogIn</button> </a></p>
                </div>
            </form>




        </div>



        <div class="im-d col-sm-6 d-flex justify-content-center align-items-center w-50 ">

            <img src="https://cdni.iconscout.com/illustration/premium/thumb/e-wallet-sign-up-2523245-2117421.png"
                class="image img-fluid" alt="Sign up image" style="max-width: 100%;
                height: auto;">

        </div>
    </div>
</div>